services:
    airline-postgres-database:
        build:
            context: ./database
            dockerfile: Dockerfile.db
        command:
            [
                "postgres",
                # "-c",
                # "log_statement=all",
                # "-c",
                # "log_destination=stderr",
                "-c",
                "shared_preload_libraries=pg_cron",
                "-c",
                "cron.database_name=flightsdb",
            ]
        environment:
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_USER: ${POSTGRES_USER}
            DB_ADMIN_USER_NAME: ${DB_ADMIN_USER_NAME}
            DB_ADMIN_USER_PASSWORD: ${DB_ADMIN_USER_PASSWORD}
            DB_READONLY_USER_NAME: ${DB_READONLY_USER_NAME}
            DB_READONLY_USER_PASSWORD: ${DB_READONLY_USER_PASSWORD}
        # note to self: do not define ports here
        # as docker compose will already create a default bridge
        # the database remains reachable from the containers, unreachable from host / public internet

    airline-graphql-api:
        build:
            context: ./airline-api
            dockerfile: Dockerfile.api
        ports:
            - "8000:8000"
        # build the DB image first
        depends_on:
            - airline-postgres-database

    # airline-client:
    #     build:
    #         context: ./airline-client
    #         dockerfile: Dockerfile.client
    #     ports:
    #         - "80:80"
    